[Desktop Entry]
Version=1.0
Type=Application
Name=Tinker
Icon=tinker
Exec=/opt/tinker/Tinker
Comment=Tinker
Categories=GNOME;GTK;Development;Documentation;
Terminal=false
